#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>

#define DEFAULT 0
#define BLUE 1
#define SCRL 2

&trackball_listener {
    scroller {
        layers = <SCRL>;
        input-processors = <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>, <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            timeout-ms = <50>;
            key-positions = <3 0>;
            bindings = <&bootloader>;
        };
    };

    behaviors {
        mlt: mlt {
            compatible = "zmk,behavior-hold-tap";
            label = "MLT";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&mlt 1 MB4  &mkp MB5   &mo 2  &mkp RCLK
&mkp LCLK   &mkp MCLK
            >;
        };

        bluetooth_layer {
            bindings = <
&trans          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
&studio_unlock  &bt BT_CLR
            >;
        };

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans
&trans  &trans
            >;
        };
    };
};
