#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SCRLM 1
#define SCRLH 2
#define NAV 3
#define BLTH 4
#define SNIPE 5
#define DESKTOPS 6

&sl {
    release-after-ms = <2000>;
};

/ {
  combos {
    compatible = "zmk,combos";
    combo_mclick {
      timeout-ms = <50>;
      key-positions = <2 3>;
      bindings = <&mkp MCLK>;
    };
    combo_snipe {
      timeout-ms = <50>;
      key-positions = <0 1>;
      bindings = <&to SNIPE>;
    };
    combo_desktops {
      timeout-ms = <50>;
      key-positions = <4 5>;
      bindings = <&sl DESKTOPS>;
    };
  };
  behaviors {
    ltm: layer-tap-or-mouse {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&mkp>;
    };
    ltk: layer-tap-or-key {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&kp>;
    };
    lhm: layer-tap-hold-or-mouse {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      hold-while-undecided;
      tapping-term-ms = <150>;
      bindings = <&mo>, <&mkp>;
    };
    lhk: layer-tap-hold-or-key {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      hold-while-undecided;
      tapping-term-ms = <150>;
      bindings = <&mo>, <&kp>;
    };
    mto: momentary-and-toggle {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      hold-while-undecided;
      tapping-term-ms = <200>;
      bindings = <&mo>, <&to>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
        &ltk BLTH LG(LBKT) &ltk NAV LG(RBKT) &mkp RCLK &mo SCRLM
        &mkp LCLK                                           &mkp MB4
      >;
    };
    scroll_tap_layer {
      bindings = <
        &trans  &trans &to SCRLH &trans
        &trans                      &kp LGUI
      >;
    };
    scroll_hold_layer {
      bindings = <
        &to DEFAULT      &trans &trans &trans
        &to DEFAULT               &trans
      >;
    };
    nav_layer {
      bindings = <
        &kp RC(RS(TAB)) &trans &kp LC(TAB) &kp LG(W)
        &kp F5                             &trans 
      >;
    };
    bluetooth_layer {
      bindings = <
        &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
        &bt BT_CLR_ALL                     &bootloader
      >;
    };
    snipe_layer {
      bindings = <
        &to DEFAULT &trans &trans &trans
        &trans                    &trans
      >;
    };
    desktops_layer {
      bindings = <
        &kp LC(NUM_1) &kp LC(NUM_2) &kp LC(NUM_3) &kp LC(NUM_4)
        &kp LC(NUM_5)               &kp LC(NUM_6)
      >;
    };
  };
};