#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SCRLM 1
#define SCRLH 2
#define DEVICE 3
#define BLTH 4
#define SNIPE 5

/ {
  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <50>;
      key-positions = <2 3>;
      bindings = <&mkp RCLK>;
    };
  };
  behaviors {
    ltm: layer-tap-or-mouse {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&mkp>;
    };
    lhm: layer-tap-hold-or-mouse {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      hold-while-undecided;
      tapping-term-ms = <150>;
      bindings = <&mo>, <&mkp>;
    };
    mto: momentary-and-toggle {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      hold-while-undecided;
      tapping-term-ms = <200>;
      bindings = <&mo>, <&to>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
        &ltm BLTH MB4 &ltm DEVICE MB5 &mkp MCLK &lhm SCRLM RCLK
        &mkp LCLK                               &mto SCRLM SNIPE
      >;
    };
    scroll_tap_layer {
      bindings = <
        &trans &trans &to SCRLH &trans
        &to SCRLH               &trans
      >;
    };
    scroll_hold_layer {
      bindings = <
        &trans &trans &trans &to DEFAULT
        &trans               &to DEFAULT
      >;
    };
    device_layer {
      bindings = <
        &bootloader &trans &trans &trans
        &trans                    &bt BT_CLR
      >;
    };
    bluetooth_layer {
      bindings = <
        &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
        &bt BT_SEL 3                     &bt BT_SEL 4
      >;
    };
    snipe_layer {
      bindings = <
        &trans &trans &trans &lhm SCRLM RCLK
        &trans               &to DEFAULT
      >;
    };
  };
};